-# .main__visual
-#   .main__visual__content1
-#     フリマを変えるフリマアプリ
-#   .main__visual__content2
-#     FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
-#   .main__visual__content3
-#     .tag1      
-#     .tag2


-# 仮
.main__visual
  .main__visual__content
    %h2.content__subtitle
      人生を変えるフリマアプリ 
    %p.content__text 
      FURIMAは誰でもかんたんに出品・購入できる
      %br
      フリマアプリです
    ..main__visual__content__btn
      %a.abtn
        %img 
      %a.gbtn
        %img
