-# .main__introduction
-#   .main__introduction__subtitle
-#     FURIMAが選ばれる3つの理由
-#   .main__introduction__contents
-#     .content1
-#       .img__box
-#         .numeber
-#           1
-#         .img
-#           = image_tag "pict-reason-01.png", size: "", alt: "携帯使用中"
-#       .text1
-#         3分ですぐに出品
-#       .text2
-#         スマホで入力するだけで簡単に出品できる！

-#     .content2
-#       .img__box
-#         .numeber
-#           2
-#         .img
-#           = image_tag "pict-reason-02.png", size: "", alt: "携帯使用中"
-#       .text1
-#         シンプル で使いやすい
-#       .text2
-#         めんどくさい入力は必要なく、検索も購入もスムーズ！

-#     .content3
-#       .img__box
-#         .numeber
-#           3
-#         .img
-#           = image_tag "pict-reason-03.png", size: "", alt: "携帯使用中"
-#       .text1
-#         手数料 業界最安
-#       .text2
-#         最大3%でお得に出品&購入！



-# 仮です
.main__introduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
    <::after></::after>　　　　　　まだ仮
  %ul.lists
    %li.list
      .list__pict
        %span.number
        = image_tag "pict-reason-01.png", size: "", alt: "携帯使用中"
      %h3.list__text
        %span 3分
        ですぐ出品
      %p.list__description
        スマホで入力するだけで簡単に出品できる！
    %li.list
      .list__pict
        %span.number
        = image_tag "pict-reason-02.png", size: "", alt: "携帯使用中"
      %h3.list__text
        %span シンプル
        で使いやすい
      %p.list__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.list list--last
      .list__pict
        %span.number
        = image_tag "pict-reason-03.png", size: "", alt: "携帯使用中"
      %h3.list__text
        手数料
        %span 業界最安
      %p.list__description
        最大3%でお得に出品&購入！

