.all{
  height: 100%;
  width: 100%;
}

.sale{
  height: 100%;
  width: 100%;

  &__files{
    // background-color: blue;
    height: 300px;
    width: 100%;
    &__head {
      text-align: center;
    }
    &__form {
      width: 50%;
      background-color: brown;
      // display: flex;
      // display: block;
      margin: 0 auto;
      // align-items: center;
      text-align: center;
    }

        //image投稿欄のCSS
    .post__drop__box__container{
      display: block;
      margin: 16px auto 0;
      display: flex;
      flex-wrap: wrap;

      //プレビュー表示欄のCSS
      .prev-content {
        display: flex;
        .preview-box {
          height: 162px;
          width: 112px;
          margin: 0 15px 10px 0;
          .upper-box {
            height: 112px;
            width: 100%;
            img{
              width: 112px;
              height: 112px;
            }
          }
          .lower-box {
            display: flex;
            text-align: center;
            .update-box {
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
            .delete-box {
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
          }
        }
      }

      //投稿クリックエリアのCSS
      .label-content{
        margin-bottom: 10px;
        width: 620px;
        .label-box {
          display: block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          width: 100%;
          height: 162px;
          cursor: pointer;
          &__text-visible {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }

      //file_fieldのcss
      .hidden-content {
        .hidden-field {
          // display: none;
        }
        .hidden-checkbox {
          display: none;
        }
      }
    }

    .image__file1{
      display: none;
    }

    .image__file2{
      display: none;
    }
    .image__file3{
      display: none;
    }

    i{
      display: inline-block;
      // background-color: gray;
      font-size: 60px;
      padding: 50px;
      margin-left: 250px;
    }

    &__name{
      // background-color: yellow;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment1{
        // background-color: white;
        width: 30%;
        display: flex;
        
        &__box1{
          line-height: 50px;
          margin:auto;
        }

        &__box2{
          color: red;
          line-height: 50px;
        }
      }

      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__description{
      // background-color: palegreen;
      height: 160px;
      width: 100%;
      display: flex;
      line-height: 160px;
      margin-top: 10px;

      &__comment2{
        // background-color: green;
        height: 100%;
        width: 30%;
        display: flex;

        &__box3{
          line-height: 160px;
          margin:auto;
        }

        &__box4{
          color: red;
          line-height: 160px;
        }
      }
      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;

        &__input{
          height: 130px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__categori{
      // background-color: purple;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment3{
        // background-color: peru;
        height: 100%;
        width: 30%;
        display: flex;

        &__box5{
          line-height: 50px;
          margin:auto;
        }

        &__box6{
          color: red;
          line-height: 50px;
        }
      }
      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }
    
    &__brand{
      // background-color: white;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment4{
        // background-color:pink;
        height: 100%;
        width: 30%;
        display: flex;

        &__box7{
          line-height: 50px;
          margin:auto;
        }
      }
      
      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__status{
      // background-color: white;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment9{
        // background-color:pink;
        height: 100%;
        width: 30%;
        display: flex;

        &__box16{
          line-height: 50px;
          margin:auto;
        }

        &__box17{
          line-height: 50px;
          color: red;
        }
      }
      
      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__postage{
      // background-color: blue;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment5{
        // background-color:pink;
        height: 100%;
        width: 30%;
        display: flex;

        &__box8{
          line-height: 50px;
          margin:auto;
        }

        &__box9{
          color: red;
          line-height: 50px;
        }
      }

      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__shipping{
      // background-color: pink;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment6{
        // background-color:green;
        height: 100%;
        width: 30%;
        display: flex;

        &__box10{
          line-height: 50px;
          margin:auto;
        }

        &__box11{
          color: red;
          line-height: 50px;
        }
      }

      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }

    &__area{
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment8{
        // background-color:red;
        height: 100%;
        width: 30%;
        display: flex;

        &__box14{
          line-height: 50px;
          margin:auto;
        }

        &__box15{
          color: red;
          line-height: 50px;
        }
      }

      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;
        padding-left: 30px;

        &__input{
          height: 50px;
          width: 80%;
          margin-left: 30px;
        }
      }

    }

    &__price{
      // background-color: royalblue;
      height: 50px;
      width: 100%;
      display: flex;
      margin-top: 10px;

      &__comment7{
        // background-color:white;
        height: 100%;
        width: 30%;
        display: flex;

        &__box12{
          line-height: 50px;
          margin:auto;
        }

        &__box13{
          color: red;
          line-height: 50px;
        }
      }

      &__form{
        // background-color: pink;
        height: 50px;
        width: 100%;
        line-height: 50px;

        &__input{
          height: 40px;
          width: 80%;
          margin-left: 30px;
        }
      }
    }
    &__submit{
      height: 3rem;
      width: 100%;
      background-color: #3CCACE;
      color: white;
      margin-top: 2%;
      margin-left: 30%;
      margin-bottom: 30px;
      width: 40%;
      font-size: 18px;
    }
  }
}

.footer{
  position: relative;
}


