.myPageSide
  .myPageSide__box
    .myPageSide__box__address
      =link_to new_users_addresses_path do
        ="住所登録画面へ"
    .myPageSide__box__credit
      =link_to "/" do
        ="クレジットカード登録"
    .myPageSide__box__top
      =link_to "/" do
        ="トップページへ"


  
