.myPageSide
  .myPageSide__box
    .myPageSide__box__contents
      =link_to new_user_address_path(current_user) do
        ="住所登録"
    .myPageSide__box__contents
      =link_to "#" do
        ="住所確認"
    .myPageSide__box__contents
      =link_to "#" do
        ="プロフィール確認"
    .myPageSide__box__contents
      =link_to new_user_creditcard_path(current_user) do
        ="クレジットカード"
    .myPageSide__box__contents
      =link_to "/" do
        ="トップページへ"


  
