.footer
  .footer__contents
    .footer__contents__content1
      .content-head1
        FURIMAについて
      %ul
        %li< 会社概要（運営会社）
        %li< プライバシーポリシー
        %li< FURIMA利用規約
        %li< ポイントに関する特約

    .footer__contents__content2
      .content-head1 
        FURIMAを見る
      %ul
        %li< カテゴリー一覧
        %li< ブランド一覧

    .footer__contents__content3 
      .content-head1
        ヘルプ＆ガイド
      %ul
        %li< FURIMAガイド
        %li< FURIMAロゴ利用ガイドライン
        %li< お知らせ
  .footer__logo
    -#  image_tag src="logo.png", size: "", alt: "会社のロゴ"
    = image_tag "logo-white.png", size: "160x46"
  .footer__name
    © FURIMA
    