.pcHeader
  .pcHeader__headerInner
    .pcHeader__headerInner__mainHeader
      = image_tag "logo.png",size: :'140x40', class: "pcHeader__headerInner__mainHeader__icon"
      = form_with(url: '', local: true,method: :get,class:"pcHeader__headerInner__mainHeader__searchBox") do |form|
        = form.text_field :keyword,placeholder: "投稿を検索する",class: "pcHeader__headerInner__mainHeader__searchBox__input"
        = form.submit '', class: "pcHeader__headerInner__mainHeader__searchBox__btn"
    .pcHeader__headerInner__nav
      .pcHeader__headerInner__nav__listsLeft
        .pcHeader__headerInner__nav__listsLeft__item--first
          =link_to "/" do
            ="カテゴリ"
        .pcHeader__headerInner__nav__listsLeft__item
          =link_to "/" do
            ="ブランド"
      .pcHeader__headerInner__nav__listsRight
        - if user_signed_in?
          .pcHeader__headerInner__nav__listsRight__item--login
            =link_to user_path(current_user) do
              ="マイページ"
          .pcHeader__headerInner__nav__listsRight__item--new
            =link_to destroy_user_session_path, method: :delete do
              ="ログアウト"
        - else
          .pcHeader__headerInner__nav__listsRight__item--login
            =link_to new_user_session_path do
              ="ログイン"
          .pcHeader__headerInner__nav__listsRight__item--new
            =link_to new_user_registration_path do
              ="新規会員登録"