.main__section1
  %h2.head
    ピックアップカテゴリー
  .productbox
    .productHead
      %a
        %h3.title 
          新規投稿商品
    .productLists
      .productList
        -# - @photos.each do |photo|
        -# - @items.each do |item|
        - @items.zip(@photos).each do |item, photo|
          .figure.productList--img
            =link_to item_path(item) do
              =image_tag "#{photo.image}".to_s
          .productList--body
            .name
              =item.name
            .details
              =item.price

