.main__section1
  %h2.head
    ピックアップカテゴリー
  .productbox
    .productHead
      %a
        %h3.title 
          新規投稿商品
    .productLists
      .productList
        - @items.each do |item|
          .figure.productList--img
            -# -item.photos.each do |photo|
            =link_to item_path(item) do
              -# =image_tag "#{photo.image}".to_s
              -# =image_tag "#{photo.image}".first.url
              -# =image_tag photos.images.first.url
              =image_tag "#{item.photos.first.image}".to_s
          .productList--body
            .name
              =item.name
            .details
              =item.price
