.alret-success {
  background-color: aliceblue;
  width: 100%;
}

.pcHeader{
  height:15vh;
  width: 100%;

  &__headerInner{
    height:15vh;
    width: 90%;
    margin: auto;

    &__mainHeader{
      height:50%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;

      &__icon{
        margin-top: 10px;
        padding-right:20px;
      }

      &__searchBox{
        width: 70%;
        display: flex;

        &__input{
          height: 30px;
          margin-top: 15px;
          width: 600px;
          align-items: center;
        }

        &__btn{
          width: 36px;
          height: 33px;
          margin-top: 15px;
          background-color: #3CCACE;
          background-image: image-url("icon-search1.png");
          background-size:60%;
          background-position: center;
          background-repeat:no-repeat;
          cursor:pointer;
        }
      }
    }

    &__nav{
      height:50%;
      width: 100%;
      position: relative;
      justify-content: space-between;
      display: flex;
      line-height: 50px;

      &__listsLeft{
        display: flex;
        width: 30%;

        &__item--first{
          font-size: 15px;
          width: 50%;
        }
        &__item{
          font-size: 15px;
          width: 50%;
        }

        a{
          text-decoration: none;
          color: black;
        }
      }

      &__listsRight{
        display: flex;
        width: 30%;
        text-align: right;
        line-height: 50px;

        &__item--login{
          font-size: 15px;
          width: 50%;
        }

        &__item--new{
          font-size: 15px;
          width: 50%;
        }

        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}