* {
  box-sizing: border-box;
}


.main {

  &__visual {
    width: 100%;
    height: 560px;
    background-image: url(bg-mainVisual-pict_pc.jpg);
    padding: 0 60px;
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      h2 {
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
        text-shadow: rgba(0,0,0,0.4) 0 0 5px;
      }
      p {
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        text-shadow: rgba(0,0,0,0.4) 0 0 5px;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        // .btn-color {
        //   width: 100%;
        //   vertical-align:bottom;
        // }
        // .btn-color {

        // }
        .abtn {
          margin-right: 10px;
        }
      }
    }
  }
  &__introduction {
    padding: 60px 20px;
    h2 {
      text-align: center;
      font-size: 26pz;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }

    ul.lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      li.list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list__pict {
          position: relative;;
          margin-bottom: 20px;
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      li.list.list--last {
        margin: 16px 0 0;
      }
    }
  }
  &__middle {
    background-image: url(bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__contents {
      color: #fff;
      text-shadow: rgba(0,0,0,0.4) 0 0 5px;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      h2 {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      p {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        a {
          margin-right: 10px;

        }
      }
    }
  }
  &__feature {
    padding: 60px 100px;
    background-color: #fff;
    h2 {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .items {
      max-width: calc(1040px+20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .section.item {
        display: flex;
        flex-direction: column;
        width: calc(1/3* 100%);
        text-align: center;
        padding: 0 20px;
      }
    }
  }

  .main__section1 {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    h2 {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productbox {

      .productHead {
        text-align: center;

      }
      .productLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .productList {
          width: 220px;
          display: inline-block;
          float: left;
          a {
            display: inline-block;
            background-color: #fff;
            .figure.productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;

            }
            .productList--body {
              background-color: white;
              color: #333;
              padding: 16px;

              h3 {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li {
                    i {

                    }
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

}