* {
  box-sizing: border-box;
}
.main{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: black;
  background: #f8f8f8;
  &__show{
    padding: 40px;
    margin: 0 auto;
    
    &__contents{
      width: 700px;
      margin: 0 auto;
      .top__contents{
        .item__box{
          padding: 24px 40px 40px;
          background-color: #fff;
            .size {
              object-fit: cover;
              width: 560px;
              height: 346px;

            }
          .item-info__photo--sub {
            display: flex;
            justify-content: center;
          }


          .product{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          .img__box{
            text-align: center;
            .img__box1{
              display: flex;
              justify-content: center;
              margin-top: 10px;
            }
          }
          .price__box{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;

            .price1{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            .price2{
              font-size: 16px;
            }
          }
          .detail{
            margin-bottom: 30px;
            // ul{
              // line-height: 1.5; 
              // text-decoration: none;
              // font-size: 18px;
            // }
          }
          .table{
            width: 100%;
            height: 282px;
            border-collapse: collapse;
            border: 0.5px solid #f8f8f8;
            display: flex;
            
            &__left{
              width: 20%;
              background-color: #eee;
                font-weight: 400px;
                border: 0.5px solid #dedede;
                font-size: 14px;
                text-align: center;
              .left1{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                }                   
              }
              .left2{
                height: 47px;
                border: 0.5px solid#dedede;
                a{
                  line-height: 45px;
                }                      
              }
              .left3{
                height: 47px;
                border: 0.5px solid #dedede; 
                a{
                  line-height: 45px;
                }                      
              }
              .left4{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                }                      
              }
              .left5{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                }                       
              }
              .left6{
                height: 45px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                }                       
              }
            }
            &__right{
              width: 80%;
              border: 0.5px solid #dedede;
              font-size: 14px;
              text-align: left;
              .right1{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                  padding-left: 10px;
                }
              }
              .right2{
                height: 47px;
                border: 0.5px solid #dedede;
                color: #3CCACE;
                a{
                  line-height: 45px;
                  padding-left: 10px;
                } 
              }
              .right3{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                  color: #3CCACE;
                  padding-left: 10px;
                }
              }
              .right4{
                height: 47px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                  padding-left: 10px;
                } 
              }
              .right5{
                height: 47px;
                border: 0.5px solid #dedede;
                color: #3CCACE;
                a{
                  line-height: 45px;
                  color: #3CCACE;
                  padding-left: 10px;
                } 
              }
              .right6{
                height: 45px;
                border: 0.5px solid #dedede;
                a{
                  line-height: 45px;
                  padding-left: 10px;
                } 
              }
            }
          }
          }
          .tag{
            display: flex;
            justify-content:space-between;
            margin-top: 20px;
            .left{
              margin-right: auto;
              border-radius: 40px;
              border: 1px solid #ffb340;
              text-decoration: none;
              padding: 6px 10px;
              a{
               text-decoration: none;
               color: #3ccace;
              }
            }
            .center{
              margin-right: auto;
              border-radius: 40px;
              color: #3ccace;
              border: 1px solid #ffb340;
              text-decoration: none;
              ul{
                padding: 6px 10px;
              }
              a{
               text-decoration: none;
               font-size: 20px;
               color: #3ccace;
              }
            }
            .right{
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
              font-size: 14px;
              padding: 6px 10px;
              a{
                text-decoration: none;
                color: #333;
              }
            }
          } 
        .middle__contents{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          color: red; 
          .content{
            .text{
              width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #f8f8f8;
              .text1{
                width: 500px;
                min-height: 104px;
                padding: 10px;
              }
            }
            .text2{
              padding: 8px;
              font-size: 14px;
              background-color:#f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .button{
              line-height: 48px;
              background-color: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin: 0 auto;
              a{
                text-decoration: none;
                font-size: 18px;
              }
            }
          }
        } 
    }
      .option__area{
        display: flex;
        justify-content: space-between;
        color: #3CCACE;
        .left{
        }
        .right{
        }
      }
      .relateditems{
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
  }}}