.main__section1
    %h2.head
      ピックアップカテゴリー
    .productbox
      .productHead
        %a
      .productLists
        .productList
          %a
            .figure.productList--img
              %img
            .productList--body
              %h3.name
                product
              .details
                %ul
                  %li
                    30000円
                  %li
                    -# %i.fa fa-star likeIcon
                      <::before></::before>
                    0
                %p
                  (税込)

        .productList
          %a
            .figure.productList--img
              %img
            .productList--body
              %h3.name
                product
              .details
                %ul
                  %li
                  20000円
                  %li
                    -# %i.fa fa-star likeIcon
                      <::before></::before>
                    0
                %p
                  (税込)
        .productList
          %a
            .figure.productList--img
              %img
            .productList--body
              %h3.name
                product
              .details
                %ul
                  %li
                    10000円
                  %li
                    -# %i.fa fa-star likeIcon
                      <::before></::before>
                    0
                %p
                  (税込)



