.main
  .main__visual
    .main__visual__content
      %h2.content__subtitle
        人生を変えるフリマアプリ 
      %p.content__text 
        FURIMAは誰でもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__visual__content__btn
        %a.abtn
          = image_tag "appstore.png", size: "180x53"
        %a.gbtn
          = image_tag "googleplay.png", size: "180x53"

