-# .wrapper
-#   = render "footer"

.sale
  .sale__files
    =form_with() do |f|
      = f.file_field :image, class: 'image__file'
        = icon('fas', 'image')
      = f.submit '作成', class: 'sale__files__btn'
  .sale__files__name
    .sale__files__name__comment1
      .sale__files__name__comment1__box1
        商品名
      .sale__files__name__comment1__box2
        ※必須
    .sale__files__name__form
  .sale__files__description
    .sale__files__description__comment2
      .sale__files__description__comment2__box3
        商品説明
      .sale__files__description__comment2__box4
        ※必須
  .sale__files__categori
    .sale__files__categori__comment3
      .sale__files__categori__comment3__box5
        カテゴリ
      .sale__files__categori__comment3__box6
        ※必須
  .sale__files__brand
    .sale__files__brand__comment4
      .sale__files__brand__comment4__box7
        ブランド
  .sale__files__postage
    .sale__files__postage__comment5
      .sale__files__postage__comment5__box8
        配送料の負担
      .sale__files__postage__comment5__box9
        ※必須
  .sale__files__shipping
    .sale__files__shipping__comment6
      .sale__files__shipping__comment6__box10
        発送日の目安
      .sale__files__shipping__comment6__box11
        ※必須
  .sale__files__price
    .sale__files__price__comment7
      .sale__files__price__comment7__box12
        商品価格
      .sale__files__price__comment7__box13
        ※必須