.pcHeader{
  height:15vh;
  width: 100%;
  &__headerInner{
    height:15vh;
    width: 90%;
    margin: auto;
    &__mainHeader{
      height:50%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      &__icon{
        margin-top: 10px;
        padding-right:20px;
      }
      &__searchBox{
        width: 70%;
        display: flex;
        &__input{
          height: 30px;
          margin-top: 15px;
          width: 600px;
          align-items: center;
        }
        &__btn{
          width: 36px;
          height: 33px;
          margin-top: 15px;
          background-color: #3CCACE;
          background-image: image-url("icon-search1.png");
          background-size:60%;
          background-position: center;
          background-repeat:no-repeat;
          cursor:pointer;
        }
      }
    }
    &__nav{
      height:50%;
      width: 100%;
      position: relative;
      justify-content: space-between;
      display: flex;
      line-height: 50px;
      &__listsLeft{
        display: flex;
        width: 30%;
        &__item--first{
          font-size: 15px;
          width: 50%;
        }
        &__item{
          font-size: 15px;
          width: 50%;
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
      &__listsRight{
        display: flex;
        width: 30%;
        text-align: right;
        line-height: 50px;
        &__item--login{
          font-size: 15px;
          width: 50%;
        }
        &__item--new{
          font-size: 15px;
          width: 50%;
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.userpagebody {
  margin: 0;
  display: flex;
  min-height: 80vh;
  &__leftside {
    background-color: #f2f2f2;
    width: 300px;
    height: 700px;
    &__box {
      margin-top: 30px;
      margin-left: 20%;
      height: 100%;
      width: 300px;
      &__contents a{
        display       : inline-block;
        color: #000000;
        text-decoration: none;
        background-color: white;
        height: 60px;
        line-height: 60px;
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        padding-left: 35px;
      }
      a:hover {
        box-shadow    : none;  
        color         : #000066;  
        background    : lightgray;  
      }
    }

  }
  &__rightside {
    background-color: #f2f2f2;
    width: 100%;
    height: 700px;
    &__crrentUser {
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 20px;
      padding-top: 15px;
      background-color:white;
      height: 10%;
      width: 90%;
      text-align: center;
      font-size: 30px;
    }
    &__transaction {
      background-color: white;
      height: 70%;
      width: 90%;
      margin-top: 15px;
      margin-left: 30px;
      padding-left: 40px;
      overflow: scroll;


      li {
        display: inline;
      }
      em {
        font-size: 13px;
        background-color: red;
        color:white;
        border-radius: 2px;
      }
      #token_submit,button {
        display       : inline-block;
        border-radius : 5%; 
        font-size     : 18pt;  
        text-align    : center;
        cursor        : pointer;  
        padding       : 12px 12px; 
        color         : #ffffff; 
        background-color: #3CCACE;
        line-height   : 1em;   
        transition    : .3s;   
        box-shadow    : 6px 6px 3px #666666;
        height: 50px;
        width: 300px;
      }
      #token_submit:hover,button:hover {
        box-shadow    : none;  
        color         : #000066;  
        background    : #ffffff;  
      }
    }
  }
}
.userpagefooter {
  margin-top: auto;
  background-color:#272727;
  padding: 60px 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #fff;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    &__content{
      display: flex;
      justify-content: center;
      &__head{
        margin: 0 0 20px;
        font-size: 16px;
        width: 300px;
        &__title {
          font-weight: bold;
        }
        &__main ul{
          margin-top: 20px;
          list-style: none;
          font-size: 12px;
          text-align: center;
          line-height: 32px;
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__name{
    font-size: 14px;
    text-align: center;
    color: white;
  }
}