.nowStatus {
  height: 20px;
  width: 200px;
  padding-left: 40px;
  font-size: 13px;
}
.myPage {
  display: flex;
  .myPageSide {
    background-color: #f2f2f2;
    width: 40%;
    height: 300px;
    &__box {
      margin-top: 10px;
      margin-left: 20px;
      height: 100%;
      width: 200px;
      &__contents a {
        display       : inline-block;
        color: #000000;
        text-decoration: none;
        background-color: white;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        line-height: 40px;
      }
      a:hover {
        box-shadow    : none;  
        color         : #000066;  
        background    : lightgray;  
      }
    }
  }
  .myPageMain {
    background-color: red;
    width: 60%;
    height: 300px;
  }

}