.nowStatus {
  height: 20px;
  width: 50%px;
  padding-left: 20%;
  font-size: 13px;
  a {
    text-decoration: none;
    color: #000000;
  }
}
.myPage {
  display: flex;
  .myPageSide {
    background-color: #f2f2f2;
    width: 300px;
    height: 700px;
    &__box {
      margin-top: 30px;
      margin-left: 20%;
      height: 100%;
      width: 300px;
      &__contents a {
        display       : inline-block;
        color: #000000;
        text-decoration: none;
        background-color: white;
        height: 60px;
        line-height: 60px;
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        padding-left: 35px;
      }
      a:hover {
        box-shadow    : none;  
        color         : #000066;  
        background    : lightgray;  
      }
    }
  }
  .myPageMain {
    background-color: #f2f2f2;
    width: 100%;
    height: 700px;
    &__currentUser {
      margin-top: 50px;
      margin-left: 30px;
      margin-right: 20px;
      padding-top: 15px;
      background-color:white;
      height: 20%;
      width: 90%;
      text-align: center;
      font-size: 30px;
    }
    &__transaction {
      background-color: white;
      height: 60%;
      width: 90%;
      margin-top: 15px;
      margin-left: 30px;

    }
  }
}