.main
  .main__visual
    .main__visual__content1
      フリマを変えるフリマアプリ
    .main__visual__content2
      FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
    .main__visual__content3
      .tag1      
      .tag2

  .main__introduction
    .main__introduction__subtitle
      FURIMAが選ばれる3つの理由
    .main__introduction__contents
      .content1
        .img__box
          .numeber
            1
          .img
            = image_tag "pict-reason-01.png", size: "", alt: "携帯使用中"
        .text1
          3分ですぐに出品
        .text2
          スマホで入力するだけで簡単に出品できる！

      .content2
        .img__box
          .numeber
            2
          .img
            = image_tag "pict-reason-02.png", size: "", alt: "携帯使用中"
        .text1
          シンプル で使いやすい
        .text2
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      .content3
        .img__box
          .numeber
            3
          .img
            = image_tag "pict-reason-03.png", size: "", alt: "携帯使用中"
        .text1
          手数料 業界最安
        .text2
          最大3%でお得に出品&購入！

  .main__middle
    .main__middle__contents
      .subtitle
        会員数日本一位
      .text
      FURIMAは、フリマアプリで最も人気。
      出品・購入回数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
      .content
        .tag1

        .tag2

  .main__feature
    .main__feature__subtitle

    .main__feature__contents
      .content1
        .img
        .text1
        .text2

      .content2
        .img
        .text1
        .text2

      .content3
        .img
        .text1
        .text2

  .main__section1
    .main__section1__subtitle
    .main__section1__contents
      .text
      .content
        .img1
        .img2
        .img3

  .main__section2
  .main__section2__subtitle
    .main__section2__contents
      .text
      .content
        .img1
        .img2
        .img3
  